version: '3'
services:
  app:
    build: .
    volumes:
      - .:/usr/src/app
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017/taller_db
    # Mantiene el contenedor encendido para que Codespaces se pueda conectar
    command: /bin/sh -c "while sleep 1000; do :; done"

  mongo:
    image: mongo:4.4
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
